
.chatBlock {
  width: 100%;
  display: flex;
  margin-top: 30px;
}
.friends {
  width: 20%;
  border-right: 1px solid;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}
.friends > a.active {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 0.5973739837731968) 0%,
    rgba(253, 29, 29, 0.45171572046787467) 50%,
    rgba(252, 176, 69, 0.5609594179468662) 100%
  );
}

.friend{
  background-color: rgb(214, 214, 214);
  margin: 10px 20px 10px 0;
  padding: 10px 20px;
  cursor: pointer;
}
.messages{
    width: 60%;
    padding-left: 30px;
}

.textarea{
  resize: unset;
  width: 100%;
  height: 60px;
  margin-top: 30px;
}
