.main {
  width:  80%;
  padding: 20px;
}
.name {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}
.info{
  display: flex;
}
.aboutMe{
  margin-left: 40px;
  width: 100%;
}
.aboutMe span {
  font-size: 24px;
  font-weight: 400;
}