.chat{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid;
}
.friend {
    display: flex;
    justify-content: flex-end;

}
.me {
    display: flex;
    justify-content: flex-start;
}