.body{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}
.container{
    padding: 10px 20px;
    margin: 20px 10px 20px 30px;
    display: flex;
    justify-content: space-between;
    width: 442px;
    background-color: rgb(245, 245, 245);
    box-shadow: 2px 4px 13px 0px #0000002f;
}
.button{
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 4px;
    cursor: pointer;
    width: 104px;
    text-align: center;
}
.button:focus{
    outline: 2px solid rgb(245, 196, 35);
}
.button:hover{
    background: linear-gradient(90deg, rgba(131,58,180,0.5973739837731968) 0%, rgba(253,29,29,0.45171572046787467) 50%, rgba(252,176,69,0.5609594179468662) 100%);

}
.imgStatus{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.usersInfo{
    margin-left: 20px;
    min-width: 220px;
    border: 1px solid rgb(219, 219, 219);
    overflow: auto;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
}
.nameStatus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mrgBottom{
    margin-bottom: 15px;
}
.name{
    font-size: 24px;
    font-weight: bold;
}
.image{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
.pagesCount{
    display: flex;
    flex-wrap: wrap;
}
.pagesCount>div{
    border: 1px solid;
    margin: 2px;
    padding: 2px;
}
.active{
    font-weight: bold;
}