.body{
    display: grid;
    grid-template-columns: 50% 50% ;
}
.usersBlock{
    width: 85%;
    margin: 0 auto;
}
.container{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
    box-shadow: 2px 4px 13px 0px #0000002f;
    margin: 10px;
}
.button{
    padding: 8px 0px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 4px;
    cursor: pointer;
    width: 80px;
    text-align: center;
}
.button:focus{
    outline: 2px solid rgb(245, 196, 35);
}
.button:hover{
    background: linear-gradient(90deg, rgba(131,58,180,0.5973739837731968) 0%, rgba(253,29,29,0.45171572046787467) 50%, rgba(252,176,69,0.5609594179468662) 100%);
}
.button:disabled{
    color:rgba(0, 0, 0, 0.29)
}
.imgStatus{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.usersInfo{
    margin-left: 20px;
    width: 90%;
    border: 1px solid rgb(219, 219, 219);
    overflow: auto;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 10px;
}
.location{
    font-size: 12px;
    margin: 0;
}
.nameStatus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name{
    font-size: 24px;
    font-weight: bold;
}
.image{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
.pagesCount{
    display: flex;
    flex-wrap: wrap;
}
.pagesCount>div{
    border: 1px solid;
    cursor: pointer;
    margin: 2px;
    padding: 2px;
}
.active{
    font-weight: bold;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons>button {
    margin-bottom: 8px;
}
@media (max-width: 1024px) {
    .body{
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
@media (max-width: 768px) {
    .body{
        grid-template-columns: 50% 50%;
    }
    .container{
        flex-direction: column;
    }
    .usersInfo{
        width: auto;
        margin: 10px 0 0 0;
    }
}
@media (max-width: 604px) {
    .usersBlock{
        width: 70%;
        margin: 0 auto;
    }
    .body{
        grid-template-columns: 100%;
    }
}
@media (max-width: 495px) {
    .wrapper.wrapperMain {
        flex-direction: column;
    }
    .usersBlock{
        width: 94%;
    }
}