.addMesage textarea {
  height: 30px;
  width: 200px;
}

.button {
  padding: 8px 20px;
  color: rgb(0, 0, 0);
  font-size: 12px;
  text-transform: capitalize;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin: 8px 0;
}

.button:focus {
  outline: 2px solid rgb(245, 196, 35);
}
.button:hover {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 0.5973739837731968) 0%,
    rgba(253, 29, 29, 0.45171572046787467) 50%,
    rgba(252, 176, 69, 0.5609594179468662) 100%
  );
}
